html {
  scroll-behavior: smooth;
  background-color: #0A192F;
}

body {
  margin: 0;
  padding: 0;
  background-color: #0A192F;
}

nav {
  height: 80px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #112240;
  margin-right: 20px;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-right: 20%;
  height: 100%;
  width: 40%;
}
.nav-container > .nav-links {
  margin-left: 45%;
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 50px;
}
.nav-container > .nav-links > li {
  list-style: none;
}
.nav-container > .nav-links > li > a {
  font-family: "inter", sans-serif;
  box-sizing: content-box;
  text-decoration: none;
  color: #E6F1FF;
  font-size: 1rem;
  font-weight: bold;
  padding: 5px;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
  transition: background-color 0.3s, color 0.3s;
}
.nav-container > .nav-links > li > a:hover {
  color: #3E8EDE;
  background-color: white;
  border-right: 1px solid #3E8EDE;
  border-left: 1px solid #3E8EDE;
}

.nav-links > li:first-of-type > a {
  color: #3E8EDE;
}

.container {
  display: flex;
  height: 100%;
  width: 100%;
}
.container > .column-left {
  background-color: #112240;
  display: flex;
  height: 100%;
  width: 20%;
}
.container > .column-left > .container-list {
  background-color: #112240;
  position: fixed;
  height: 100%;
  width: 19%;
}
.container > .column-left > .container-list > ul li {
  list-style: none;
  font-family: "inter", sans-serif;
  font-weight: bold;
}
.container > .column-left > .container-list > ul li > a {
  text-decoration: none;
  color: #E6F1FF;
  transition: color 0.3s;
  font-size: 1.5rem;
}
.container > .column-left > .container-list > ul li > a:hover {
  color: #3E8EDE;
}
.container > .column-right {
  color: #E6F1FF;
  border-left: solid 5px #A3A9B7;
  height: 100%;
  width: 52%;
  padding: 30px;
}
.container > .column-right > .info-personali {
  display: flex;
}
.container > .column-right > .info-personali > .foto img {
  width: 60%;
  margin-left: 10%;
}
.container > .column-right > .info-personali > .testo > p > a {
  text-decoration: underline;
  color: #E6F1FF;
  transition: color 0.3s;
}
.container > .column-right > .info-personali > .testo > p > a:hover {
  color: #3E8EDE;
}
.container > .column-right > .foto img {
  width: 60%;
  margin-left: 10%;
}

.container > .column-left > .container-list > ul > li:first-of-type > a {
  color: #3E8EDE;
}

.titolo {
  color: #E6F1FF;
  background-color: #112240;
  box-shadow: #3E8EDE 0px 0px 8px, #3E8EDE 0px 0px 16px;
  border-radius: 10px;
  padding: 5px;
  width: -moz-fit-content;
  width: fit-content;
}

p, h3, h4 {
  font-family: "inter", sans-serif;
  font-size: 1.2rem;
  line-height: 1.5;
}

@media screen and (max-width: 1660px) {
  .nav-container > .nav-links > li > a {
    font-size: 1.3rem;
  }
  .container > .column-right {
    width: 60%;
  }
  p {
    font-size: 1.3rem;
  }
  .container > .column-left > .container-list > ul li {
    padding-top: 15px;
  }
  .container > .column-left > .container-list > ul li > a {
    font-size: 1.9rem;
  }
}/*# sourceMappingURL=style-cv.css.map */